// Variables
$website-width: 1280px;
$main-color: #e68800;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #41281b;
$bg-image: url("../img/showcase2.jpg");

// SET TEXT COLOR
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
